* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 660px;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 30px;
  background: #5243aa;
  color: #172b4d;
  line-height: 1.5;
}
main {
  max-width: 600px;
  width: 100%;
  padding: 30px;
  border-radius: 15px;
  background: #fafbfc;
}
header {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #97a0af;
}
h1,
p {
  margin: 0 0 15px;
}
small {
  color: #97a0af;
}
button {
  margin-top: 15px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background: #ff8f73;
  color: #fafbfc;
  font-size: 1em;
  cursor: pointer;
}
button:hover {
  background: #ff7452;
}
a:link,
a:visited {
  color: #ff8f73;
}
a:hover,
a:active {
  color: #ff7452;
}
